body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 245, 216);
    color: #333;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

h2 { 
    color: #2c3e50; 
    /* border-bottom: 2px solid black;  */
    padding-bottom: 10px; 
}

ul 
{ 
    list-style: none; 
    padding: 0; 
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: black; */
}







.btn {
    text-decoration: none;
    padding: 8px 15px;
    /* border-radius: 5px; */
    font-size: 14px;
    transition: 0.3s;
}



@media (min-width: 600px) {
    button, .btn {
        width: auto; /* Normal width on desktop */
    }
}



.btn-add 
{ 
    background: black; 
    color: white; 
}
.btn-delete 
{ 
    background: black; 
    color: white; 
}
.btn-cancel 
{
     /* background: #95a5a6;  */
     color: black; 
     margin-left: 10px; 
    }

form 
{ 
    background: #fff; 
    padding: 20px; 
    /* border-radius: 8px;  */
    box-shadow: 0 2px 20px rgba(0,0,0,0.1); 
}

@media (min-width: 600px) {
    li {
        flex-direction: row; /* Side-by-side on larger screens */
        justify-content: space-between;
        align-items: center;
    }
}



input[type="text"], textarea 
{ 
    width: 90%; 
    padding: 8px; 
    margin: 10px 0; 
    border: 1px solid #ddd; 
    /* border-radius: 4px;  */
}



button 
{ 
    cursor: pointer; 
    border: none; 
    padding: 10px 20px; 
    /* border-radius: 5px;  */
    background: black; 
    color: white; 
}