{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work List</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
</head>
<body>
    <h2>My Work Lists</h2>

    <div style="margin-bottom: 30px;">
        <form method="POST">
            {% csrf_token %}
            <h3>Create a List</h3>
            {{ form.as_p }}
            <button type="submit" class="btn btn-add">Add List</button>
        </form>
    </div>

    <!-- <hr> -->

    <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'tasklist' category.id %}" style="text-decoration:none; color:black; font-weight:bold;">
                {{ category.name }}
            </a>
            <a href="{% url 'deletecategory' category.id %}" class="btn btn-delete">Delete list</a>
        </li>
        {% empty %}
        <!-- <p>No lists created yet. Use the form above to start!</p> -->
        {% endfor %}
    </ul>
</body>
</html>